header{
    background-color: black;
    

    img {
    border: 1px double white;
    border-radius: 60px;

    }

    div{
        padding: 5px;
    }   
    
    h1{
        font-size: 30px;
        font-style: italic;
        font-weight: 700;
        font-family: "roboto", sans-serif;
        margin: 15px 15px;
    }
    
     h2{
         color: red;
        font-size: 20px;
        text-align: right;
        font-style: italic;
        margin: 10px 150px 10px 10px;
    }
    
}
